.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	flex-basis: auto;
	background-color: #0e1a21;
	text-align: center;
	font-size: 2rem;
}

.game-container {
	flex-grow: 1;
	position: relative;
}

.footer {
	flex-basis: auto;
	background-color: #0e1a21;
}

.bg-plot-container, .layout-container {
	position: absolute !important;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.bg-plot-container {
	z-index: 1;
}

.plot {
	width: 100%;
	height: 100%;
}

.layout-container {
	z-index: 2;
	pointer-events: none;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	align-content: stretch;
}

.guess-form *, .guess-list {
	pointer-events: all;
}

.guess-form {
	text-align: right;
}

.guess-container {
	/*background-color: rgba(231, 4, 4, 0.16);*/
	align-self: baseline;
	padding: 1rem;
	flex-basis: 30rem;
}


.guess-input, .guess-submit {
	margin-right: 0.5rem;
	font-size: 1.5rem;
	background-color: rgba(14, 26, 33, 0.77);
	color: #ececec;
	box-shadow: none;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.5rem;
	padding: 0.2rem;
	font-family: 'Space Grotesk', 'Roboto', sans-serif;
	backdrop-filter: blur(3px);
}

.guess-submit {
	height: 3rem;
}

.guess-input {
	height: 2rem;
	width: 15rem;
	margin-right: 0.5rem;
}

.guess-list {
	overflow-y: auto;
	overflow-x: visible;
	max-height: 80vh;
	margin-bottom: 0.5rem;
}

.guess-entry {
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: 0.2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	backdrop-filter: blur(10px);
}

.bg-correct {
	background-color: rgba(26, 255, 199, 0.98);
	color: black;
}

.bg-very-hot {
	background-color: rgba(252, 255, 178, 0.98);
	color: black;
}

.bg-quite-hot {
	background-color: rgba(188, 236, 18, 0.94);
	color: black;
}

.bg-hot {
	background-color: rgba(250, 50, 4, 0.87);
	color: white;
}

.bg-toasty {
	background-color: rgba(196, 0, 0, 0.75);
	color: white;
}

.bg-warm {
	background-color: rgba(126, 0, 38, 0.54);
	color: white;
}

.bg-tepid {
	background-color: rgba(52, 0, 80, 0.43);
	color: white;
}

.bg-cold {
	background-color: rgba(5, 0, 59, 0.35);
	color: white;
}

.bg-frigid {
	background-color: rgba(0, 12, 30, 0.27);
	color: white;
}


.guess-index {
	flex-basis: 2rem;
}

.guess-word {
	flex-grow: 1;
}

.guess-similarity {
	flex-basis: 1rem;
}

.guess-rank {
	flex-basis: 3rem;
	text-align: right;
}

.guess-rank-placeholder {
	flex-basis: 3rem;
	text-align: center;
}

.guess-flavor {
	flex-basis: 4rem;
	text-align: right;
}


.safe-container {
	pointer-events: none;
	/*background-color: rgba(0, 255, 4, 0.1);*/
	border-radius: 1rem;
	margin: 1rem;
	flex-grow: 1;
}

@media (max-aspect-ratio: 1/1) {
	.layout-container {
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}

	.guess-container {
		flex-basis: 6rem;
		width: 50rem;
		max-width: 90vw;
	}

	.guess-form {
		text-align: left;
	}

	.guess-input {
		width: 30rem;
		max-width: calc(100vw - 12rem);
	}

	.guess-list {
		max-height: 40vh;
	}
}